html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-top:71px;
}

#map-canvas, #map_canvas {
    height: 100%;
}

@media print {
    html, body {
        height: auto;
    }

    #map-canvas, #map_canvas {
        height: 650px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    .header-container {
        max-width: 850px;
    }
}

.clear {
	clear:both;
}

#map-container {
    height: 80%;
    position: relative;
}

.navbar-inverse {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.navbar-inverse .navbar-brand {
    font-size: 29px;
    font-weight: bold;
}

.navbar-brand {
    padding: 0;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a  {
    color: #fff;
}

.navbar-inverse .navbar-brand span {
    font-size: 0.7em;
    font-weight: normal;
}

#email,
#nav-call2action {
    margin-top: 18px;
}

#marketing {
    text-align: center;
    font-size: 18px;
    padding: 4em 0 2em 0;
}

#tagline h2 {
    background-color: rgba(46, 204, 113, 1);
    padding: 15px 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 36px;
    line-height: 35px;
}

#tagline h2 span {
    font-size: 23px;
}

#tagline h2 span strong {
    font-size: 27px;
}

#tagline {
    position: absolute;
    bottom: -55px;
    width: 100%;
    z-index: 1;
}

#bubbleContent a {
    text-decoration: underline;
}

#star-comment {
    text-align: center;
}

.btn-success {
    background-color: rgba(46, 204, 113, 1);
    border-color:  rgba(46, 204, 113, 1);
}

.btn-success:hover {
    background-color: #5a8f56;
    border-color: #5a8f56;
}


#bubbleContent {
    min-height: 240px;
}

#categories .mix{
    opacity: 0;
    display: none;
}

#filter-categories {
    margin: 20px auto;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #2ecc71;
}
a {
    color: #2ecc71;
}

a:hover, a:focus {
    color: #2ecc71;
}

.thumbnail {
    min-height: 315px;
    margin-bottom: 25px;
}

.thumbnail h3 {
    font-size: 22px;
    margin: 5px 0;
}

h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
}

blockquote p {
    line-height: 30px;
}

blockquote .cite-more {
    display: none;
}

#navbar-form {
    display: none;
}

.navbar-desk {
    display: none;
}

.navbar-mob {
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
}

.navbar-header {
    text-align: center;
}

@media (min-width: 500px) {
    .navbar-mob {
        display: none;
    }
    .navbar-desk {
        display: block;
    }

    .navbar-header {
        text-align: left;
    }
}


@media (min-width: 823px) {
    #navbar-form {
        display: block;
    }
}