.booking-style {
    margin: 2rem;
    border-radius: 1rem;
}
.booking-header a {
text-decoration: none;
margin-left: .8rem;
color: black;
}
.details_box{
  border: solid 1px gainsboro;
  padding: 2rem;
}
.bigger_text{
  font-size:1.25em;
}
.booking_image img
{
  height:15vh;
}
.form-control {
  margin-bottom: 1rem;
}