.location_main_picture {
    background: url('/img/hoian.jpg');
    width: 100vw;
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px #000000;
}

.location_main_picture .transbox {
    margin: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.541);
    border-radius: 3px;
}

.center {
    margin: 0 auto;
}