


    .jumbotron {
        background: url('/img/apple.jpg');
        width: 100vw;
        height: 80vh;
        position: absolute;
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .jumbotron .transbox {
        margin: 30px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.541);
        border-radius: 3px;
    }

    .center {
        margin: 0 auto;
    }