<div class="html5-video-container" data-layer="0">
    <video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload" src="blob:https://www.youtube.com/3a202981-eac8-47b8-8819-af4b833f2be1"
        style="width: 640px; height: 360px; left: 0px; top: 0px;"></video>
</div>


<video id="main-video" preload="metadata" poster="http://www.criticalcommons.org/Members/MCIMR/clips/playmobil-game-of-thrones-2012.mp4/thumbnailImage" height="360" width="630" src="http://videos.criticalcommons.org/transcoded/http/ccserver.usc.edu/8080/cc/Members/MCIMR/clips/playmobil-game-of-thrones-2012.mp4/webm-low/playmobil-game-of-thrones-2012-mp4.webm">
    <source type="video/webm" src="http://videos.criticalcommons.org/transcoded/http/ccserver.usc.edu/8080/cc/Members/MCIMR/clips/playmobil-game-of-thrones-2012.mp4/webm-low/playmobil-game-of-thrones-2012-mp4.webm">
    <source type="video/mp4" src="http://videos.criticalcommons.org/transcoded/http/ccserver.usc.edu/8080/cc/Members/MCIMR/clips/playmobil-game-of-thrones-2012.mp4/mp4-low/playmobil-game-of-thrones-2012-mp4.mp4">
    <object type="application/x-shockwave-flash" data="++resource++collective.mediaelementjs/flashmediaelement.swf" width="630" height="360">
        <param name="movie" value="++resource++collective.mediaelementjs/flashmediaelement.swf">
        <param name="flashvars" value="controls=true&amp;poster=http://www.criticalcommons.org/Members/MCIMR/clips/playmobil-game-of-thrones-2012.mp4/thumbnailImage&amp;file=http://videos.criticalcommons.org/transcoded/http/ccserver.usc.edu/8080/cc/Members/MCIMR/clips/playmobil-game-of-thrones-2012.mp4/mp4-low/playmobil-game-of-thrones-2012-mp4.mp4">
        <!-- Image as a last resort -->
        <img title="No video playback capabilities" src="http://www.criticalcommons.org/Members/MCIMR/clips/playmobil-game-of-thrones-2012.mp4/thumbnailImage" height="360" width="630">
    </object>
 </video>