/* CSS Document */
@charset "utf-8";
* {
   margin: 0px;
   padding: 0px;
}
body {
	font-family: Helvetica, Arial, sans-serif 
}
p {
	color:#FFFFFF;
}
h3 {
	color:#FFFFFF;
	float:left;
	margin-right:40px;
}
h1 {
	font-family: "Arial Black";
	font-size: 50px;
	color:#FFFFFF;
	letter-spacing:-3px;
}
h2 {
	font-size: 20px;
	color:#FFFFFF;
}
#wraper {
	background-image: url(../images/home.jpg);
}
#wraper #content {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#wraper #content #footer #contact_form2 #text_contact {
}

#wraper #content #header {
	height: 400px;
}
#wraper #content #main #text1_main {
	padding-left:40px;
	height: 39px;
	width: 359px;
	float:left;
	
}
#wraper #content #main #text2_main {
	height: 39px;
	width: 359px;
	float:left;
	
}

#wraper #content #header #social {
	height: 33px;
	padding-left: 560px;
	padding-top: 20px;
}
#wraper #content #header #social li {
	margin-right: 20px;
	display: inline;

}
#wraper #content #main #choose_become {
	height: 580px;
	width: 960px;
	padding: 0px;
	margin-top: 0px;
}
#wraper #content #main #choose_become #choose {
	width: 480px;
	height: 580px;
	float:left;
	background-image:url(../images/choose_bg.png);
}
#wraper #content #main #choose_become #become {
	height: 580px;
	width: 480px;
	float:left;
	background-image:url(../images/become_bg.png);
}
#wraper #content #main #choose_become #titlu_choose {
	margin-top:40px;
	margin-left:20px;
	font-size:30px;
	letter-spacing:3px;
}
#wraper #content #main #choose_become #titlu_become {
	margin-top:40px;
	margin-left:20px;
	font-size:30px;
	letter-spacing:3px;
}
#wraper #content #main #choose_become #text_choose {
	max-width:360px;
	margin-top:350px;
	margin-left:20px;
}
#wraper #content #main #choose_become #text_choose h2{
	font-size:28px;
	font-weight:700;
	letter-spacing:-1px;
	margin-bottom:15px;
}
#wraper #content #main #choose_become #text_become {
	max-width:360px;
	margin-top:350px;
	margin-left:20px;
}
#wraper #content #main #choose_become #text_become h2{
	font-size:28px;
	font-weight:700;
	letter-spacing:-1px;
	margin-bottom:15px;
}
#wraper #content #footer #text_footer {
	float:left;
	max-width:260px;
	margin-top:60px;
	margin-left:20px;
}
#wraper #content #footer #text_footer h2{
	font-size:18px;
	font-weight:700;
	letter-spacing:-1px;
	margin-bottom:15px;
}
#wraper #content #footer #contact_form{
	margin-left:120px;
	margin-top:60px;
	width:200px;
	float:left;
}
#wraper #content #footer #contact_form form{
	width:200px;
	padding-bottom:15px;
}
#wraper #content #footer #contact_form #submit{
	float:right;
	background-image:url(../images/submit.png);
	width:73;
	height:64;
	font-size:0.1px;
}


#wraper #content #footer #contact_form2{
	float:left;
	margin-left:30px;
	margin-top:60px;
	width:300px;
	height:150px;
}
#wraper #content #footer #contact_form2 #text_contact{
	vertical-align:top;
	height: 130px;
	width: 300px;
	max-width:300px;
}


ul {
	list-style: none;
}

#content #footer {
	height: 480px;
	width: 960px;
}

#wraper #content #main #newsletter {
	padding-top: 150px;
	padding-left: 240px;
}

#wraper #content #header #logo_header {
	height: 247px;
	margin-top: 100px;
		
}
#wraper #content #main {
	margin-top: 50px;
}
#wraper #content #main #logo_main {
	float:left;
}
#wraper #content #main #img_center {
	padding-top:110px;
	padding-left:240px;
	width:960px;
	height:275px;
	clear:inherit;
}
